@font-face {
    font-family: Circular-Black;
    src: url(fonts/CircularStd-Black.otf);
}

@font-face {
    font-family: Circular-BlackItalic;
    src: url(fonts/CircularStd-BlackItalic.otf);
}

@font-face {
    font-family: Circular-Bold;
    src: url(fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: Circular-Book;
    src: url(fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: Circular-Medium;
    src: url(fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: Circular-Light;
    src: url(fonts/CircularStd-Light.otf);
}

body {
    background-color: #24242f;
    overflow-y: scroll;
}

h1 {
    color: #e57d68;
    font-family: Circular-Black;
}

h2 {
    color: white;
    font-family: Circular-Bold;
}

h3 {
    color: #e57d68;
    font-family: Circular-Bold;
}

h4 {
    color: #e57d68;
    font-family: Circular-Bold;
}

p {
    color: #fbfbfa;
    font-family: Circular-Book;
}

p.p2 {
    color: #5c5c5c;
    font-family: Circular-Book;
}

label {
    color: white;
    font-family: Circular-Bold;
}

div.container {
    margin-top: 60px;
}



.accordion {
    margin-bottom: 20px;
    border-color: #e57d68;
}

.accordion-item {
    background-color: #343444;
}

.accordion-button {
    background-color: #343444;
    font-family: Circular-Bold;
    color: #fbfbfa;
    
}

.accordion-body {
    background-color: #343444;
    color:#ffffff;
    font-family: Circular-Book;
}



div.divStatus {
    margin-top: 60px;
}

div.divActivity {
    margin-top: 60px;
}

div.divAccounts {
    margin-top: 60px;
}

button.btn {
    font-family: Circular-Medium;
}
button.btn.btn-primary {
    background-color: #e57d68;
    border-color: #e57d68
}


footer {
    position: fixed;
    padding-top: 10px;
    padding-left: 100px;
    background-color: #1b1b27;
    height: 50px;
    bottom: 0;
    width: 100%;
}